{% extends 'header.html' %}


{% block body %}
<div class="full height">
    <div class="toc">
        <div class="ui left vertical sidebar inverted menu visible">
          <a class="item" href="/">
            <b>Index</b>
            <i class="home icon"></i>
            
          </a>
          <div class="item">
              <div class="header">Ερωτήματα</div>
              <div class="ui inverted vertical pointing menu">
                  <a class="item" href="/31">
                    3.1: Προγράμματα/Έργα/Φόρμα
                  </a>
                  <a class="item" href="/32">
                    3.2: Όψεις σχεσιακού μοντέλου
                  </a>
                  <a class="item" href="/33">
                    3.3: Έργα/Ερευνητές σε επιστημονικό πεδίο
                  </a>
                  <a class="item" href="/34">
                    3.4: Οργανισμοί: Έργα των 2 τελευταίων ετών
                  </a>
                  <a class="item" href="/35">
                    3.5: Top-3 ζεύγη επιστημονικών πεδίων
                  </a>
                  <a class="item" href="/36">
                    3.6: Νέοι ερευνητές
                  </a>
                  <a class="item" href="/37">
                    3.7: Top-5 στελέχη ΕΛ.ΙΔ.Ε.Κ
                  </a>
                  <a class="item" href="/38">
                    3.8: Ερευνητές σε έργα χωρίς παραδοτέα
                  </a>
              </div>
            </div>
            <div class="item">
              <div class="header">CRUD</div>
              <div class="ui inverted vertical pointing menu">
                  <a class=" active item" href="/erga">
                    Έργα
                  </a>
                  <a class="item" href="/pedie">
                    Επιστημονικά πεδία
                  </a>
                  <a class="item" href="/paradotea">
                    Παραδοτέα
                  </a>
                  <a class="item" href="/reviews">
                    Αξιολογήσεις
                  </a>
                  <a class="item" href="/ergazomenoi_ergo">
                    Εργαζόμενοι σε έργα
                  </a>
                  <a class="item" href="/organizations">
                    Οργανισμοί
                  </a>
                  <a class="item" href="/telephones">
                    Τηλέφωνα
                  </a>
                  <a class="item" href="/ergazomenoi_org">
                    Εργαζόμενοι οργανισμών
                  </a>
              </div>
            </div>
        </div>
    </div>

    <div class="article" style="margin-left: 300px;height: 100vh;display: flex; flex-direction: column;align-items:center;margin-right: 50px;">

        <div class="ui container">

            <h1 class="ui header" style="margin-top: 50px;">
               Έργα
            </h1>
<!--             <div class="ui hidden divider"></div>
            <div class="ui inverted segment">
                <form class="ui inverted form" method="POST" action="/edit_ergo"> 
                  <h3 class="ui inverted dividing header">Ενημέρωση στοιχείων έργου</h3>
                  <div class="four fields">
                    <div class="field">
                        <label>Επιλέξτε ID</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="id">
                            <i class="dropdown icon"></i>
                            <div class="default text">id...</div>
                            <div class="menu">
                                {% for row in result %}
                                  <div class="item" data-value="{{ row['ID'] }}">{{ row['ID'] }} - {{ row['Title'] }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                      <label>Τίτλος</label>
                      <input class="clearable" type="text" name="title" placeholder="Τίτλος">
                    </div>
                    <div class="field">
                      <label>Περίληψη</label>
                      <input class="clearable" type="text" name="brief">
                    </div>
                    <div class="field">
                      <label>Χρηματοδότηση</label>
                      <input class="clearable" type="number" name="budget">
                    </div>
                  </div>
                  <div class="three fields">
                    <div class="field">
                      <label>Επιλέξτε Ημερομηνία έναρξης</label>
                      <input class="clearable" type="date" name="start_date">
                    </div>

                    <div class="field">
                      <label>Επιλέξτε Ημερομηνία λήξης</label>
                      <input class="clearable" type="date" name="end_date">
                    </div>
                  </div>
                  <button class="positive ui right labeled icon button" type="submit">
                    <i class="right arrow icon"></i>
                    Υποβολή
                  </button>
                </form>
              </div> -->
        </div>

        <div class="ui hidden divider"></div>
        <table class="ui fixed table">
          <thead>
            <th>ID</th>
            <th>Όνομα έργου</th>
            <th>Περίληψη</th>
            <th>Ημερομηνία έναρξης</th>
            <th>Ημερομηνία λήξης</th>
            <th>Πρόγραμμα</th>
            <th>Χρηματοδότηση</th>
            <th>Διαχειριστής Στέλεχος</th>
            <th>Διαχειριστής Οργανισμός</th>
            <th>Επιστημονικός Υπεύθυνος</th>
            <th>Ενέργεια</th>
          </tr></thead>
          <tbody>
            {% for row in result %}
              <tr>
                  <td>{{ row['ID'] }}</td>
                  <td>{{ row['Title'] }}</td>
                  <td>{{ row['Brief'] }}</td>
                  <td>{{ row['StartDate'] }}</td>
                  <td>{{ row['EndDate'] }}</td>
                  <td>{{ row['Programma'] }}</td>
                  <td>{{ row['Budget'] }}</td>
                  <td>{{ row['MasterStelexos'] }}</td>
                  <td>{{ row['MasterOrganization'] }}</td>
                  <td>{{ row['Responsible'] }}</td>
                  <td>
                      <form method="POST" action="/delete_ergo">
                        <input type="hidden" name="id" value="{{ row['ID'] }}">
                        <button class="ui red labeled icon button" type="sumbit">
                          <i class="trash icon"></i>
                          Διαγραφή
                        </button>
                      </form>
                    </div>
                  </td>

              </tr>
            {% endfor %}
          </tbody>
        </table> 
     
    </div>
</div>

{% endblock %}


