{% extends 'header.html' %}


{% block body %}
<div class="full height">
    <div class="toc">
        <div class="ui left vertical sidebar inverted menu visible">
          <a class="active item" href="/">
            <b>Index</b>
            <i class="home icon"></i>
            
          </a>
          <div class="item">
              <div class="header">Ερωτήματα</div>
              <div class="ui inverted vertical pointing menu">
                  <a class="item" href="/31">
                    3.1: Προγράμματα/Έργα/Φόρμα
                  </a>
                  <a class="item" href="/32">
                    3.2: Όψεις σχεσιακού μοντέλου
                  </a>
                  <a class="item" href="/33">
                    3.3: Έργα/Ερευνητές σε επιστημονικό πεδίο
                  </a>
                  <a class="item" href="/34">
                    3.4: Οργανισμοί: Έργα των 2 τελευταίων ετών
                  </a>
                  <a class="item" href="/35">
                    3.5: Top-3 ζεύγη επιστημονικών πεδίων
                  </a>
                  <a class="item" href="/36">
                    3.6: Νέοι ερευνητές
                  </a>
                  <a class="item" href="/37">
                    3.7: Top-5 στελέχη ΕΛ.ΙΔ.Ε.Κ
                  </a>
                  <a class="item" href="/38">
                    3.8: Ερευνητές σε έργα χωρίς παραδοτέα
                  </a>
              </div>
          </div>
    </div>


    <div class="ui main cointainer article" style="margin-left: 300px;height: 100vh;display: flex; flex-direction: column;align-items:center; margin-right: 50px;">
          <div class="ui container">

              <h1 class="ui header" style="margin-top: 50px;">
                Βάσεις Δεδομένων
                <div class="sub header">
                  Ακαδημαϊκό έτος: 2021-2022
                </div>
              </h1>
              <div class="ui hidden divider"></div>

          </div>

        <div class="ui stackable very relaxed raised very padded container segment">
          <h2 class="ui header">Ομάδα 92</h2>

          <div class="ui cards">
              <div class="card">
                <div class="content">
                  <div class="header">Γεώργιος Μπελιώτης</div>
                  <div class="meta">
                    <a href = "mailto: georgebel@hotmail.gr">georgebel@hotmail.gr</a>
                  </div>
                  <div class="description">
                    Σχολή Ηλεκτρολόγων Μηχανικών και Μηχανικών Υπολογιστών
                  </div>
                </div>
                <div class="extra content">
                  <span class="right floated">
                    6ο Εξάμηνο
                  </span>
                  <span>
                    <i class="user icon"></i>
                    ΑΜ: el19139
                  </span>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Γεώργιος-Λουκάς Υγρόπουλος</div>
                  <div class="meta">
                    <a href = "mailto: ge18801@mail.ntua.gr">ge18801@mail.ntua.gr</a>
                  </div>
                  <div class="description">
                    Σχολή Εφαρμοσμένων Μαθηματικών και Φυσικών Επιστημών
                  </div>
                </div>
                <div class="extra content">
                  <span class="right floated">
                    8ο Εξάμηνο
                  </span>
                  <span>
                    <i class="user icon"></i>
                    ΑΜ: ge18801
                  </span>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Χαράλαμπος Μπεκιάρης</div>
                  <div class="meta">
                   <a href = "mailto: ge18088@mail.ntua.gr">ge18088@mail.ntua.gr</a>
                  </div>
                  <div class="description">
                    Σχολή Εφαρμοσμένων Μαθηματικών και Φυσικών Επιστημών
                  </div>
                </div>
                <div class="extra content">
                  <span class="right floated">
                    8ο Εξάμηνο
                  </span>
                  <span>
                    <i class="user icon"></i>
                    ΑΜ: ge18088
                  </span>
                </div>
              </div>
            </div>
        </div>      
    </div>
</div>


{% endblock %}


